.bg_div {
    z-index: 0;
    position: absolute;
}

.fg_div {
    z-index: 1;
    position: absolute;
    background-color: transparent;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 15vh;
}