.divSlider {
  margin-top: 1vh !important;
  margin-left: 10% !important;
  position: fixed;
  width: 80% !important;
  text-align: center;
}

#sliderInfo {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
